@page "/importar-excel"
@inject IHttpClientFactory HttpClientFactory
@using System.Net.Http.Json
@using Microsoft.AspNetCore.Components.Forms

<h3>Importar Archivo Excel</h3>

<InputFile OnChange="HandleFileSelected" />

@if (message != null)
{
    <p>@message</p>
}

@code {
    private string message;

    private async Task HandleFileSelected(InputFileChangeEventArgs e)
    {
        var file = e.File;
        using var content = new MultipartFormDataContent();
        content.Add(new StreamContent(file.OpenReadStream()), "file", file.Name);

        var client = HttpClientFactory.CreateClient("TinkaApi");
        var response = await client.PostAsync("api/tinka/import-excel", content);

        if (response.IsSuccessStatusCode)
        {
            message = "Archivo importado exitosamente.";
        }
        else
        {
            message = "Hubo un error al importar el archivo.";
        }
    }
}
