<ul class="nav flex-column">
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="">
            <span class="oi oi-home" aria-hidden="true"></span> Home
        </NavLink>
    </li>
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="prediccion">
            <span class="oi oi-bar-chart" aria-hidden="true"></span> Predicción de Tinka
        </NavLink>
    </li>
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="ingresar-sorteo">
            <span class="oi oi-plus" aria-hidden="true"></span> Ingresar Sorteo
        </NavLink>
    </li>
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="ingresar-frecuencia">
            <span class="oi oi-plus" aria-hidden="true"></span> Ingresar Frecuencia de Bolilla
        </NavLink>
    </li>
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="importar-excel">
            <span class="oi oi-cloud-upload" aria-hidden="true"></span> Importar Excel
        </NavLink>
    </li>
</ul>
